<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="adminMapper">
	
	<!-- 사용자 수 조회 -->
	<select id="selectUserCount" resultType="int" parameterType="WhiteMap">
	 	SELECT COUNT(1) FROM white_user
		<where>
			<if test="text != ''">
		 		<if test="type == 'id'">
				AND user_id = #{text}
				</if>
				<if test="type == 'name'">
				AND user_name = #{text}
				</if>
			</if>
		</where>
	</select>
	
	<!-- 사용자 정보 리스트 조회 -->
	<select id="selectUserList" resultType="WhiteMap" parameterType="WhiteMap">
		SELECT 
			USER_SEQ AS no,
			user_id AS userId,
			user_name AS userName
 		FROM white_user
 		<where>
	 		<if test="text != ''">
		 		<if test="type == 'id'">
				AND user_id = #{text}
				</if>
				<if test="type == 'name'">
				AND user_name = #{text}
				</if>
			</if>
		</where>
 		Limit ${pagePre}, ${pageSize}
	</select>
	
	<select id="selectAuthList" resultType="WhiteMap">
		SELECT
			AUTH_SEQ AS authSeq,
			AUTH_NM AS authNm,
			AUTH_CMT AS authCmt,
			AUTH_ORDER AS authOrder
 		FROM AUTH 		
 		ORDER BY AUTH_ORDER ASC
	</select>
	
	<select id="selectUserAuth" resultType="WhiteMap" parameterType="WhiteMap">
		SELECT
			PA.POS_AUTH_SEQ AS posAuthSeq,
			PA.AUTH_SEQ AS authNmSeq,
			A.AUTH_NM AS authNm
		FROM POS_AUTH PA
		LEFT OUTER JOIN AUTH A
		ON A.AUTH_SEQ = PA.AUTH_SEQ
		WHERE PA.USER_SEQ = #{no}   		
	</select>
	
	
	<!--  -->
	<select id="selectUpperMenuList" resultType="whiteMap">		
		SELECT
			UM.UPPER_SEQ AS upperSeq,
	  		UM.UPPER_NM AS upperNm,
	 		UM.UPPER_URL AS upperUrl,
	 		UM.SHOW_YN AS showYn,
	 		UM.UPPER_ORDER AS upperOrder,
			UM.AUTH_SEQ AS authSeq			
		FROM UPPER_MENU UM
		ORDER BY UM.UPPER_ORDER
	</select>
	
	<!--  -->
	<select id="selectLowerMenuList" parameterType="whiteMap" resultType="whiteMap">
		SELECT			
			LM.LOWER_SEQ AS lowerSeq,
			LM.UPPER_SEQ AS upperSeq,
			LM.LOWER_NM AS lowerNm,
			LM.LOWER_URL AS lowerUrl,
			LM.AUTH_SEQ AS authSeq,
			LM.SHOW_YN AS showYn,
			LM.LOWER_ORDER AS lowerOrder
		FROM LOWER_MENU AS LM
		<if test="upperSeq != null and upperSeq != ''">
		WHERE LM.UPPER_SEQ = #{upperSeq}
		</if>		
		ORDER BY LM.LOWER_ORDER		
	</select>
	
	<!--  -->
	<select id="selectNLowerMenuList" parameterType="String" resultType="whiteMap">
		SELECT			
			LM.LOWER_SEQ AS lowerSeq,
			LM.UPPER_SEQ AS upperSeq,
			LM.LOWER_NM AS lowerNm,
			LM.LOWER_URL AS lowerUrl,
			LM.AUTH_SEQ AS authSeq,
			LM.SHOW_YN AS showYn,
			LM.LOWER_ORDER AS lowerOrder
		FROM LOWER_MENU AS LM	
		WHERE LM.UPPER_SEQ = #{upperSeq}		
		ORDER BY LM.LOWER_ORDER	
	</select>	
	
	<insert id="insertPosAuthList" parameterType="java.util.List">
		INSERT INTO POS_AUTH(		
			USER_SEQ,	
			AUTH_SEQ
		)VALUES
		<foreach collection="list" item="item" separator="),(" open="(" close=")">
			#{item.userNo}, 
			#{item.authSeq}	
		</foreach>	
	</insert>
	
	<delete id="deletePosAuthList" parameterType="whiteMap">
		DELETE FROM POS_AUTH
		WHERE USER_SEQ = #{userNo}
		AND AUTH_SEQ IN (${remove})
	</delete>
	
	<!-- 상위메뉴 insert -->
	<insert id="insertUpperMenuList" parameterType="java.util.List">
		INSERT INTO UPPER_MENU(		
			UPPER_NM,	
			UPPER_URL,
			AUTH_SEQ,
			SHOW_YN,
			UPPER_ORDER
		)VALUES
		<foreach collection="list" item="item" separator="),(" open="(" close=")">
			#{item.upperNm}, 
			#{item.upperUrl},
			#{item.authSeq},
			#{item.showYn},
			#{item.upperOrder}			
		</foreach>	
	</insert>
	
	
	<!-- 상위메뉴 수정 -->
	<update id="updateUpperMenuList" parameterType="java.util.List">		
		UPDATE UPPER_MENU
		SET UPPER_NM = 
		CASE		
		<foreach collection="list" item="item">
			WHEN UPPER_SEQ = #{item.upperSeq} THEN #{item.upperNm}
		</foreach>		
		END,	
		UPPER_URL = 
		CASE		
		<foreach collection="list" item="item">
			WHEN UPPER_SEQ = #{item.upperSeq} THEN #{item.upperUrl}
		</foreach>		
		END,
		AUTH_SEQ = 
		CASE		
		<foreach collection="list" item="item">
			WHEN UPPER_SEQ = #{item.upperSeq} THEN #{item.authSeq}
		</foreach>		
		END,
		SHOW_YN = 
		CASE		
		<foreach collection="list" item="item">
			WHEN UPPER_SEQ = #{item.upperSeq} THEN #{item.showYn}
		</foreach>		
		END,
		UPPER_ORDER = 
		CASE		
		<foreach collection="list" item="item">
			WHEN UPPER_SEQ = #{item.upperSeq} THEN #{item.upperOrder}
		</foreach>		
		END
		WHERE UPPER_SEQ IN 
		<foreach collection="list" item="item" separator="," open="(" close=")">
			#{item.upperSeq}
		</foreach>
	</update>	
	
		
	<!-- 상위메뉴 삭제시 하위메뉴의 상위목적인지 확인 -->
	<select id="selectIsUsedLowerUrl" resultType="int" parameterType="java.util.List">
		SELECT COUNT(1) FROM LOWER_MENU
		WHERE UPPER_SEQ IN
		<foreach collection="list" item="item" separator="," open="(" close=")">
			#{item.upperSeq}
		</foreach>
	</select>
	
	<!-- 상위메뉴 삭제 -->
	<delete id="deleteUpperMenuList" parameterType="java.util.List">
		DELETE FROM UPPER_MENU
		WHERE UPPER_SEQ IN 
		<foreach collection="list" item="item" separator="," open="(" close=")">
			#{item.upperSeq}
		</foreach>
	</delete>
	
	
	<!-- 하위메뉴 insert -->
	<insert id="insertLowerMenuList" parameterType="java.util.List">
		INSERT INTO LOWER_MENU(
			UPPER_SEQ,
			LOWER_NM,	
			LOWER_URL,
			AUTH_SEQ,
			SHOW_YN,
			LOWER_ORDER
		)VALUES
		<foreach collection="list" item="item" separator="),(" open="(" close=")">
			#{item.upperSeq}, 
			#{item.lowerNm}, 
			#{item.lowerUrl},
			#{item.authSeq},
			#{item.showYn},
			#{item.lowerOrder}			
		</foreach>	
	</insert>
	
	
	<!-- 하위메뉴 수정 -->
	<update id="updateLowerMenuList" parameterType="java.util.List">		
		UPDATE LOWER_MENU
		SET UPPER_SEQ = 
		CASE		
		<foreach collection="list" item="item">
			WHEN LOWER_SEQ = #{item.lowerSeq} THEN #{item.upperSeq}
		</foreach>		
		END,
		LOWER_NM = 
		CASE		
		<foreach collection="list" item="item">
			WHEN LOWER_SEQ = #{item.lowerSeq} THEN #{item.lowerNm}
		</foreach>		
		END,	
		LOWER_URL = 
		CASE		
		<foreach collection="list" item="item">
			WHEN LOWER_SEQ = #{item.lowerSeq} THEN #{item.lowerUrl}
		</foreach>		
		END,
		AUTH_SEQ = 
		CASE		
		<foreach collection="list" item="item">
			WHEN LOWER_SEQ = #{item.lowerSeq} THEN #{item.authSeq}
		</foreach>		
		END,
		SHOW_YN = 
		CASE		
		<foreach collection="list" item="item">
			WHEN LOWER_SEQ = #{item.lowerSeq} THEN #{item.showYn}
		</foreach>		
		END,
		LOWER_ORDER = 
		CASE		
		<foreach collection="list" item="item">
			WHEN LOWER_SEQ = #{item.lowerSeq} THEN #{item.lowerOrder}
		</foreach>		
		END
		WHERE LOWER_SEQ IN 
		<foreach collection="list" item="item" separator="," open="(" close=")">
			#{item.lowerSeq}
		</foreach>
	</update>	
	
	<!-- 하위메뉴 삭제 -->
	<delete id="deleteLowerMenuList" parameterType="java.util.List">
		DELETE FROM LOWER_MENU
		WHERE LOWER_SEQ IN 
		<foreach collection="list" item="item" separator="," open="(" close=")">
			#{item.lowerSeq}
		</foreach>
	</delete>
	
	
	<!-- 권한 insert -->
	<insert id="insertAuthList" parameterType="java.util.List">
		INSERT INTO AUTH(		
			AUTH_NM,
			AUTH_CMT,
			AUTH_ORDER
		)VALUES
		<foreach collection="list" item="item" separator="),(" open="(" close=")">
			#{item.authNm}, 
			#{item.authCmt}, 
			#{item.authOrder}		
		</foreach>	
	</insert>
	
	
	<!-- 권한 수정 -->
	<update id="updateAuthList" parameterType="java.util.List">		
		UPDATE AUTH
		SET AUTH_NM = 
		CASE		
		<foreach collection="list" item="item">
			WHEN AUTH_SEQ = #{item.authSeq} THEN #{item.authNm}
		</foreach>		
		END,
		AUTH_CMT = 
		CASE		
		<foreach collection="list" item="item">
			WHEN AUTH_SEQ = #{item.authSeq} THEN #{item.authCmt}
		</foreach>
		END,
		AUTH_ORDER = 
		CASE		
		<foreach collection="list" item="item">
			WHEN AUTH_SEQ = #{item.authSeq} THEN #{item.authOrder}
		</foreach>		
		END
		WHERE AUTH_SEQ IN 
		<foreach collection="list" item="item" separator="," open="(" close=")">
			#{item.authSeq}
		</foreach>
	</update>	
	
		
	<!-- 권한 삭제시 사용되는지 확인 -->
	<select id="selectIsUsedAuth" resultType="int" parameterType="java.util.List">
		SELECT
		(
			SELECT COUNT(1) FROM POS_AUTH
			WHERE AUTH_SEQ IN
			<foreach collection="list" item="item" separator="," open="(" close=")">
				#{item.authSeq}
			</foreach>		
		)+
		(
			SELECT COUNT(1) FROM nav_menu
			WHERE AUTH_SEQ IN
			<foreach collection="list" item="item" separator="," open="(" close=")">
				#{item.authSeq}
			</foreach>		
		)+
		(
			SELECT COUNT(1) FROM side_menu
			WHERE AUTH_SEQ IN
			<foreach collection="list" item="item" separator="," open="(" close=")">
				#{item.authSeq}
			</foreach>		
		) AS count		
	</select>
	
	<!--권한 삭제 -->
	<delete id="deleteAuthList" parameterType="java.util.List">
		/* adminMapper|deleteAuthList */
		DELETE FROM AUTH
		WHERE AUTH_SEQ IN 
		<foreach collection="list" item="item" separator="," open="(" close=")">
			#{item.authSeq}
		</foreach>
	</delete>
	
	
	<!-- 코드 정의 리스트 조회 -->
	<select id="selectCodeDefineCount" parameterType="whiteMap" resultType="int">
		/* adminMapper|selectCodeDefineCount */
		SELECT COUNT(1)	FROM COMMON_CD	
	</select>	
	
	<!-- 코드 정의 리스트 조회 -->
	<select id="selectCodeDefineList" parameterType="whiteMap" resultType="whiteMap">
		/* adminMapper|selectCodeDefineList */
		SELECT
			CODE_SEQ	AS codeSeq
			,CODE		AS code
			,CODE_PRT	AS codePrt
			,CODE_NM	AS codeNm
			,MOD_USER	AS modUser
			,DATE_FORMAT(MOD_DATE,'%Y-%m-%d %H:%i:%s') AS modDate
			,REG_USER	AS regUser
			,DATE_FORMAT(REG_DATE,'%Y-%m-%d %H:%i:%s') AS regDate
		FROM COMMON_CD
		ORDER BY CODE ASC
		LIMIT ${pagePre}, ${pageSize}	
	</select>
</mapper>

