<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="adminMapper">
	
	<!-- 사용자 수 조회 -->
	<select id="selectUserCount" resultType="int" parameterType="WhiteMap">
	 	SELECT COUNT(1) FROM white_user
		<where>
			<if test="text != ''">
		 		<if test="type == 'id'">
				AND user_id = #{text}
				</if>
				<if test="type == 'name'">
				AND user_name = #{text}
				</if>
			</if>
		</where>
	</select>
	
	<!-- 사용자 정보 리스트 조회 -->
	<select id="selectUserList" resultType="WhiteMap" parameterType="WhiteMap">
		SELECT 
			user_seq AS no,
			user_id AS userId,
			user_name AS userName
 		FROM white_user
 		<where>
	 		<if test="text != ''">
		 		<if test="type == 'id'">
				AND user_id = #{text}
				</if>
				<if test="type == 'name'">
				AND user_name = #{text}
				</if>
			</if>
		</where>
 		Limit ${pagePre}, ${pageSize}
	</select>
	
	<select id="selectAuthList" resultType="WhiteMap">
		SELECT
			auth_nm_seq AS authNmSeq,
			auth_nm AS authNm,
			auth_cmt AS authCmt,
			auth_order AS authOrder
 		FROM auth_name 		
 		ORDER BY auth_order ASC
	</select>
	
	<select id="selectUserAuth" resultType="WhiteMap" parameterType="WhiteMap">
		SELECT
			auth.auth_seq AS authSeq,
			auth.auth_nm_seq AS authNmSeq,
			name.auth_nm AS authNm
		FROM authority auth
		LEFT OUTER JOIN auth_name name
		ON name.auth_nm_seq = auth.auth_nm_seq
		WHERE auth.user_seq = #{no}   		
	</select>
	
	
	<!--  -->
	<select id="selectNavMenuList" resultType="whiteMap">		
		SELECT
			nm.nav_seq AS navSeq,
	  		nm.nav_nm AS navNm,
	 		nm.nav_url AS navUrl,
	 		nm.nav_show_yn AS navShowYn,
	 		nm.nav_order AS navOrder,
			nm.nav_auth_nm_seq AS navAuthNmSeq			
		FROM nav_menu nm
		ORDER BY nm.nav_order
	</select>
	
	<!--  -->
	<select id="selectSideMenuList" parameterType="whiteMap" resultType="whiteMap">
		SELECT			
			sm.side_seq AS sideSeq,
			sm.nav_seq AS navSeq,
			sm.side_nm AS sideNm,
			sm.side_url AS sideUrl,
			sm.side_auth_nm_seq AS sideAuthNmSeq,
			sm.side_show_yn AS sideShowYn,
			sm.side_order AS sideOrder
		FROM side_menu AS sm
		<if test="navSeq != null and navSeq != ''">
		WHERE sm.nav_seq = #{navSeq}
		</if>		
		ORDER BY sm.side_order		
	</select>
	
	<!--  -->
	<select id="selectNSideMenuList" parameterType="String" resultType="whiteMap">
		SELECT			
			sm.side_seq AS sideSeq,
			sm.nav_seq AS navSeq,
			sm.side_nm AS sideNm,
			sm.side_url AS sideUrl,
			sm.side_auth_nm_seq AS sideAuthNmSeq,
			sm.side_show_yn AS sideShowYn,
			sm.side_order AS sideOrder
		FROM side_menu AS sm		
		WHERE sm.nav_seq = #{navSeq}		
		ORDER BY sm.side_order	
	</select>	
	
	<insert id="insertAuthList" parameterType="java.util.List">
		INSERT INTO authority(		
			user_seq,	
			auth_nm_seq
		)VALUES
		<foreach collection="list" item="item" separator="),(" open="(" close=")">
			#{item.userNo}, 
			#{item.authNmSeq}	
		</foreach>	
	</insert>
	
	<delete id="deleteAuthList" parameterType="whiteMap">
		DELETE FROM authority
		WHERE user_seq = #{userNo}
		AND auth_nm_seq IN (${remove})
	</delete>
	
	<!-- 네비메뉴 insert -->
	<insert id="insertNavMenuList" parameterType="java.util.List">
		INSERT INTO nav_menu(		
			nav_nm,	
			nav_url,
			nav_auth_nm_seq,
			nav_show_yn,
			nav_order
		)VALUES
		<foreach collection="list" item="item" separator="),(" open="(" close=")">
			#{item.navNm}, 
			#{item.navUrl},
			#{item.navAuthNmSeq},
			#{item.navShowYn},
			#{item.navOrder}			
		</foreach>	
	</insert>
	
	
	<!-- 네비메뉴 수정 -->
	<update id="updateNavMenuList" parameterType="java.util.List">		
		UPDATE nav_menu
		SET nav_nm = 
		CASE		
		<foreach collection="list" item="item">
			WHEN nav_seq = #{item.navSeq} THEN #{item.navNm}
		</foreach>		
		END,	
		nav_url = 
		CASE		
		<foreach collection="list" item="item">
			WHEN nav_seq = #{item.navSeq} THEN #{item.navUrl}
		</foreach>		
		END,
		nav_auth_nm_seq = 
		CASE		
		<foreach collection="list" item="item">
			WHEN nav_seq = #{item.navSeq} THEN #{item.navAuthNmSeq}
		</foreach>		
		END,
		nav_show_yn = 
		CASE		
		<foreach collection="list" item="item">
			WHEN nav_seq = #{item.navSeq} THEN #{item.navShowYn}
		</foreach>		
		END,
		nav_order = 
		CASE		
		<foreach collection="list" item="item">
			WHEN nav_seq = #{item.navSeq} THEN #{item.navOrder}
		</foreach>		
		END
		WHERE nav_seq IN 
		<foreach collection="list" item="item" separator="," open="(" close=")">
			#{item.navSeq}
		</foreach>
	</update>	
	
		
	<!-- 네비메뉴 삭제시 사이드메뉴의 상위목적인지 확인 -->
	<select id="selectIsUsedSideUrl" resultType="int" parameterType="java.util.List">
		SELECT COUNT(1) FROM side_menu
		WHERE nav_seq IN
		<foreach collection="list" item="item" separator="," open="(" close=")">
			#{item.navSeq}
		</foreach>
	</select>
	
	<!-- 네비메뉴 삭제 -->
	<delete id="deleteNavMenuList" parameterType="java.util.List">
		DELETE FROM nav_menu
		WHERE nav_seq IN 
		<foreach collection="list" item="item" separator="," open="(" close=")">
			#{item.navSeq}
		</foreach>
	</delete>
	
	
	<!-- 사이드메뉴 insert -->
	<insert id="insertSideMenuList" parameterType="java.util.List">
		INSERT INTO side_menu(
			nav_seq,
			side_nm,	
			side_url,
			side_auth_nm_seq,
			side_show_yn,
			side_order
		)VALUES
		<foreach collection="list" item="item" separator="),(" open="(" close=")">
			#{item.navSeq}, 
			#{item.sideNm}, 
			#{item.sideUrl},
			#{item.sideAuthNmSeq},
			#{item.sideShowYn},
			#{item.sideOrder}			
		</foreach>	
	</insert>
	
	
	<!-- 사이드메뉴 수정 -->
	<update id="updateSideMenuList" parameterType="java.util.List">		
		UPDATE side_menu
		SET nav_seq = 
		CASE		
		<foreach collection="list" item="item">
			WHEN side_seq = #{item.sideSeq} THEN #{item.navSeq}
		</foreach>		
		END,
		side_nm = 
		CASE		
		<foreach collection="list" item="item">
			WHEN side_seq = #{item.sideSeq} THEN #{item.sideNm}
		</foreach>		
		END,	
		side_url = 
		CASE		
		<foreach collection="list" item="item">
			WHEN side_seq = #{item.sideSeq} THEN #{item.sideUrl}
		</foreach>		
		END,
		side_auth_nm_seq = 
		CASE		
		<foreach collection="list" item="item">
			WHEN side_seq = #{item.sideSeq} THEN #{item.sideAuthNmSeq}
		</foreach>		
		END,
		side_show_yn = 
		CASE		
		<foreach collection="list" item="item">
			WHEN side_seq = #{item.sideSeq} THEN #{item.sideShowYn}
		</foreach>		
		END,
		side_order = 
		CASE		
		<foreach collection="list" item="item">
			WHEN side_seq = #{item.sideSeq} THEN #{item.sideOrder}
		</foreach>		
		END
		WHERE side_seq IN 
		<foreach collection="list" item="item" separator="," open="(" close=")">
			#{item.sideSeq}
		</foreach>
	</update>	
	
	<!-- 사이드메뉴 삭제 -->
	<delete id="deleteSideMenuList" parameterType="java.util.List">
		DELETE FROM side_menu
		WHERE side_seq IN 
		<foreach collection="list" item="item" separator="," open="(" close=")">
			#{item.sideSeq}
		</foreach>
	</delete>
	
	
	<!-- 권한 insert -->
	<insert id="insertAuthNmList" parameterType="java.util.List">
		INSERT INTO auth_name(		
			auth_nm,
			auth_cmt,
			auth_order
		)VALUES
		<foreach collection="list" item="item" separator="),(" open="(" close=")">
			#{item.authNm}, 
			#{item.authCmt}, 
			#{item.authOrder}		
		</foreach>	
	</insert>
	
	
	<!-- 권한 수정 -->
	<update id="updateAuthNmList" parameterType="java.util.List">		
		UPDATE auth_name
		SET auth_nm = 
		CASE		
		<foreach collection="list" item="item">
			WHEN auth_nm_seq = #{item.authNmSeq} THEN #{item.authNm}
		</foreach>		
		END,
		auth_cmt = 
		CASE		
		<foreach collection="list" item="item">
			WHEN auth_nm_seq = #{item.authNmSeq} THEN #{item.authCmt}
		</foreach>
		END,
		auth_order = 
		CASE		
		<foreach collection="list" item="item">
			WHEN auth_nm_seq = #{item.authNmSeq} THEN #{item.authOrder}
		</foreach>		
		END
		WHERE auth_nm_seq IN 
		<foreach collection="list" item="item" separator="," open="(" close=")">
			#{item.authNmSeq}
		</foreach>
	</update>	
	
		
	<!-- 권한 삭제시 사용되는지 확인 -->
	<select id="selectIsUsedAuthNm" resultType="int" parameterType="java.util.List">
		SELECT
		(
			SELECT COUNT(1) FROM authority
			WHERE auth_nm_seq IN
			<foreach collection="list" item="item" separator="," open="(" close=")">
				#{item.authNmSeq}
			</foreach>		
		)+
		(
			SELECT COUNT(1) FROM nav_menu
			WHERE nav_auth_nm_seq IN
			<foreach collection="list" item="item" separator="," open="(" close=")">
				#{item.authNmSeq}
			</foreach>		
		)+
		(
			SELECT COUNT(1) FROM side_menu
			WHERE side_auth_nm_seq IN
			<foreach collection="list" item="item" separator="," open="(" close=")">
				#{item.authNmSeq}
			</foreach>		
		) AS count		
	</select>
	
	<!--권한 삭제 -->
	<delete id="deleteAuthNmList" parameterType="java.util.List">
		/* adminMapper|deleteAuthNmList */
		DELETE FROM auth_name
		WHERE auth_nm_seq IN 
		<foreach collection="list" item="item" separator="," open="(" close=")">
			#{item.authNmSeq}
		</foreach>
	</delete>
	
	<!-- 코드 정의 리스트 조회 -->
	<select id="selectCodeDefineList" parameterType="whiteMap" resultType="whiteMap">
		/* adminMapper|selectCodeDefineList */
		SELECT 
			code		AS code
			,code_prt	AS codePrt
			,code_nm	AS codeNm
			,mod_user	AS modUser
			,DATE_FORMAT(mod_date,'%Y-%m-%d %H:%i:%s') AS modDate
			,reg_user	AS regUser
			,DATE_FORMAT(reg_date,'%Y-%m-%d %H:%i:%s') AS regDate
		FROM cmm_code
		ORDER BY CODE ASC		
	</select>
</mapper>

