<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="adminMapper">

	<select id="selectUserCount" resultType="int" parameterType="WhiteMap">
		SELECT COUNT(1) FROM white_user
		WHERE 1=1
		<if test="srhId != ''">
		AND user_id = #{srhId}
		</if>
		<if test="srhNm != ''">
		AND user_name = #{srhNm}
		</if>
	</select>
	
	<select id="selectUserList" resultType="WhiteMap" parameterType="WhiteMap">
		SELECT 
			user_seq AS userSeq,
			user_id AS userId,
			user_name AS userName
 		FROM white_user
 		WHERE 1=1
 		<if test="srhId != ''">
		AND user_id = #{srhId}
		</if>
		<if test="srhNm != ''">
		AND user_name = #{srhNm}
		</if>
 		Limit ${pagePre}, ${pageCnt}
	</select>
	
</mapper>
