<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="sourceMapper">	
	
	<select id="selectSourceCount" resultType="int" parameterType="WhiteMap">
		SELECT COUNT(1) FROM source_board sb
		LEFT OUTER JOIN code c
	    	ON sb.code_seq = c.code_seq
	    LEFT OUTER JOIN white_user wu
  			ON wu.user_seq = sb.user_seq
		<where>
  			<if test="codeKey != '' and codeKey != null">
		  	AND c.code_key = #{codeKey}
		  	</if>
		  	
		  	<if test="type == 'id'">
			AND wu.user_id = #{text}
		  	</if>
		  	<if test="type == 'title'">
			AND sb.title LIKE #{text}
		  	</if>
		  	<if test="type == 'content'">
		  	AND sb.content LIKE #{text}
		  	</if>
  		</where> 
	</select>
	
	<select id="selectSourceList" resultType="WhiteMap" parameterType="WhiteMap">	
		SELECT
			sb.source_seq AS sourceSeq,
			c.code_nm AS codeNm,
			sb.user_seq AS userSeq,
			wu.user_id AS userId,
			sb.title,
			DATE_FORMAT(sb.reg_date,'%Y-%m-%d %H:%i:%s') AS regDate
		FROM source_board sb
	    LEFT OUTER JOIN code c
	    	ON sb.code_seq = c.code_seq
	    LEFT OUTER JOIN white_user wu
  			ON wu.user_seq = sb.user_seq
  		<where>
  			<if test="codeKey != '' and codeKey != null">
		  	AND c.code_key = #{codeKey}
		  	</if>
		  	
		  	<if test="type == 'id'">
			AND wu.user_id = #{text}
		  	</if>
		  	<if test="type == 'title'">
			AND sb.title LIKE #{text}
		  	</if>
		  	<if test="type == 'content'">
		  	AND sb.content LIKE #{text}
		  	</if>
  		</where>  	
		ORDER BY sb.source_seq DESC
		Limit ${pagePre}, ${pageSize}
	</select>
	
	<select id="selectSourceDtlView" resultType="WhiteMap" parameterType="WhiteMap">	
		SELECT 
			sb.source_seq AS sourceSeq,
			c.code_nm AS codeNm,
			sb.user_seq AS userSeq,
			wu.user_id AS userId,
			sb.title,
			sb.content,
			DATE_FORMAT(sb.reg_date,'%Y-%m-%d %H:%i:%s') AS regDate
		FROM source_board sb
   		LEFT OUTER JOIN white_user wu
  			ON wu.user_seq = sb.user_seq
  		LEFT OUTER JOIN code c
	    	ON sb.code_seq = c.code_seq   
		WHERE sb.source_seq = #{sourceSeq}
	</select>
	
	<insert id="insertSource" parameterType="WhiteMap">
		INSERT
		INTO source_board(user_seq, code_seq, title, content, reg_date)
		VALUES(
			#{userSeq},
			(SELECT DISTINCT code_seq FROM code WHERE code_key = #{codeKey}),
			#{title},
			#{content},
			NOW()
		)
	</insert>
</mapper>

