<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="sourceMapper">
	
	<select id="selectSourceInfoList" resultType="WhiteMap" parameterType="WhiteMap">		
		<!-- SELECT
		 *
		FROM side_menu AS side
		LEFT OUTER JOIN nav_menu AS nav
		ON side.nav_seq = nav.nav_seq
		LEFT OUTER JOIN auth_name AS auth
		ON side.side_auth_nm_seq = auth.auth_nm_seq
		WHERE nav.nav_url = #{navUrl}
		AND auth.auth_nm = 'user'
		ORDER BY side.side_order ASC -->	
	</select>
	
</mapper>

