<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="sourceMapper">	
	
	<select id="selectSourceCount" resultType="int" parameterType="WhiteMap">
		SELECT COUNT(1) FROM SOURCE_BRD SB
		LEFT OUTER JOIN COMMON_CD CC
	    	ON SB.SOURCE_LANG_CD = CC.CODE
	    LEFT OUTER JOIN WHITE_USER WU
  			ON WU.USER_SEQ = SB.USER_SEQ
		<where>
  			<if test="sourceLangCd != '' and sourceLangCd != null">
		  	AND SB.SOURCE_LANG_CD = #{sourceLangCd}
		  	</if>
		  	<if test="text != '' and text != null">
		  		<!-- ID -->
			  	<if test="type == 'SRH001'">
				AND WU.USER_ID = #{text}
			  	</if>
			  	<!-- TITLE -->
			  	<if test="type == 'SRH002'">
				AND SB.title LIKE CONCAT('%',#{text}, '%')
			  	</if>
			  	<!-- CONTENT -->
			  	<if test="type == 'SRH003'">
			  	AND SB.content LIKE CONCAT('%',#{text}, '%')
			  	</if>
			  	<!-- NO -->
			  	<if test="type == 'SRH004'">
			  	AND SB.SOURCE_SEQ = #{text}
			  	</if>
		  	</if>
  		</where> 
	</select>
	
	<select id="selectSourceList" resultType="WhiteMap" parameterType="WhiteMap">	
		SELECT
			SB.SOURCE_SEQ
			,CC.CODE_NM AS SOURCE_LANG_NM
			,CC.CODE	AS SOURCE_LANG_CD
			,WU.USER_ID
			,SB.TITLE
			,DATE_FORMAT(SB.EDIT_DATE,'%Y-%m-%d %H:%i:%s') AS EDIT_DATE
			,DATE_FORMAT(SB.REG_DATE,'%Y-%m-%d %H:%i:%s')  AS REG_DATE
		FROM SOURCE_BRD SB
	    LEFT OUTER JOIN COMMON_CD CC
	    	ON SB.SOURCE_LANG_CD = CC.CODE
	    LEFT OUTER JOIN WHITE_USER WU
  			ON WU.USER_SEQ = SB.USER_SEQ
  		<where>
  			<if test="sourceLangCd != '' and sourceLangCd != null">
		  	AND SB.SOURCE_LANG_CD = #{sourceLangCd}
		  	</if>
		  	
		  	<if test="text != '' and text != null">
			  	<!-- ID -->
			  	<if test="type == 'SRH001'">
				AND WU.USER_ID = #{text}
			  	</if>
			  	<!-- TITLE -->
			  	<if test="type == 'SRH002'">
				AND SB.TITLE LIKE #{text}
			  	</if>
			  	<!-- CONTENT -->
			  	<if test="type == 'SRH003'">
			  	AND SB.CONTENT LIKE #{text}
			  	</if>
			  	<!-- NO -->
			  	<if test="type == 'SRH004'">
			  	AND SB.SOURCE_SEQ = #{text}	
			  	</if>		  	
		  	</if>
  		</where>  	
		ORDER BY SB.SOURCE_SEQ DESC
		LIMIT ${pagePre}, ${pageSize}
	</select>
	
	<select id="selectSourceDtlView" resultType="WhiteMap" parameterType="WhiteMap">	
		SELECT 
			SB.SOURCE_SEQ 	AS sourceSeq
			,CC.CODE_NM 	AS sourceLangNm
			,CC.CODE		AS sourceLangCd
			,WU.USER_ID 	AS userId
			,SB.TITLE		AS title
			,SB.CONTENT		AS content
			,DATE_FORMAT(SB.EDIT_DATE,'%Y-%m-%d %H:%i:%s') AS editDate
			,DATE_FORMAT(SB.REG_DATE,'%Y-%m-%d %H:%i:%s') AS regDate
		FROM SOURCE_BRD SB
   		LEFT OUTER JOIN WHITE_USER WU
  			ON WU.USER_SEQ = SB.USER_SEQ
  		LEFT OUTER JOIN COMMON_CD CC
	    	ON SB.SOURCE_LANG_CD = CC.CODE   
		WHERE SB.SOURCE_SEQ = #{sourceSeq}
	</select>
	
	<insert id="insertSource" parameterType="WhiteMap">
		INSERT
		INTO SOURCE_BRD(USER_SEQ, SOURCE_LANG_CD, TITLE, CONTENT, EDIT_DATE, REG_DATE)
		VALUES(
			#{userSeq},
			#{sourceLangCd},
			#{title},
			#{content},
			NOW(),
			NOW()
		)
	</insert>
	
	<update id="updateSource" parameterType="WhiteMap">
		UPDATE SOURCE_BRD
		SET	TITLE = #{title},
			SOURCE_LANG_CD = #{sourceLangCd},
			CONTENT = #{content},
			EDIT_DATE = NOW()
		WHERE USER_SEQ = #{userSeq}
		AND SOURCE_SEQ = #{sourceSeq}
	</update>
	
	<delete id="deleteSource" parameterType="WhiteMap">
		DELETE FROM SOURCE_BRD
		WHERE USER_SEQ = #{userSeq}
		AND SOURCE_SEQ = #{sourceSeq}	
	</delete>
	
</mapper>

