<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="boardMapper">

	<!-- 게시판 카운트 조회 -->
	<select id="selectBoardCount" resultType="int" parameterType="WhiteMap">
		SELECT COUNT(1) FROM ${board}_board b		
	    LEFT OUTER JOIN white_user wu
  			ON wu.user_seq = b.user_seq
		<where>	  
		  	<if test="type == 'id'">
			AND wu.user_id = #{text}
		  	</if>
		  	<if test="type == 'title'">
			AND b.title LIKE #{text}
		  	</if>
		  	<if test="type == 'content'">
		  	AND b.content LIKE #{text}
		  	</if>
		  	<if test="type == 'boardSeq'">
		  	AND b.boardSeq = #{text}
		  	</if>		  	
  		</where> 
	</select>
	
	<!-- 게시판 리스트 조회 -->
	<select id="selectBoardList" resultType="WhiteMap" parameterType="WhiteMap">	
		SELECT
			b.board_seq 	AS boardSeq,			
			wu.user_id 		AS userId,
			b.title,
			DATE_FORMAT(b.edit_date,'%Y-%m-%d %H:%i:%s') AS editDate,
			DATE_FORMAT(b.reg_date,'%Y-%m-%d %H:%i:%s') AS regDate,			
			(SELECT COUNT(1) FROM ${board}_board_comment WHERE board_seq = b.board_seq) AS commentCnt			
		FROM ${board}_board b	   
	    LEFT OUTER JOIN white_user wu
  			ON wu.user_seq = b.user_seq
  		<where>  			
		  	<if test="type == 'id'">
			AND wu.user_id = #{text}
		  	</if>
		  	<if test="type == 'title'">
			AND b.title LIKE #{text}
		  	</if>
		  	<if test="type == 'content'">
		  	AND b.content LIKE #{text}
		  	</if>
		  	<if test="type == 'boardSeq'">
		  	AND b.boardSeq = #{text}
		  	</if>			  
  		</where>  	
		ORDER BY b.board_seq DESC
		LIMIT ${pagePre}, ${pageSize}
	</select>
	
	<!-- 게시판 상세조회 -->
	<select id="selectBoardDtlView" resultType="WhiteMap" parameterType="WhiteMap">	
		SELECT 
			b.board_seq 	AS boardSeq			
			,wu.user_id 	AS userId
			,b.title
			,b.content
			,DATE_FORMAT(b.edit_date,'%Y-%m-%d %H:%i:%s') AS editDate
			,DATE_FORMAT(b.reg_date,'%Y-%m-%d %H:%i:%s') AS regDate
		FROM ${board}_board b
   		LEFT OUTER JOIN white_user wu
  			ON wu.user_seq = b.user_seq
		WHERE b.board_seq = #{boardSeq}
	</select>
	
	<!-- 게시판 상세화면 댓글 조회 -->
	<select id="selectBoardCommentList" resultType="WhiteMap" parameterType="WhiteMap">	
		SELECT
			bc.comment_seq		AS commentSeq
			,bc.board_seq		AS boardSeq
			,wu.user_id			AS userId
			,bc.comment
			,DATE_FORMAT(bc.reg_date,'%Y-%m-%d %H:%i:%s') AS regDate		
		FROM ${board}_board_comment bc
		LEFT OUTER JOIN white_user wu
			ON wu.user_seq = bc.user_seq
		WHERE bc.board_seq = #{boardSeq}
		ORDER BY bc.reg_date ASC, bc.board_seq ASC
	</select>
	
	<!-- 게시판 상세화면 댓글 개수 조회 -->
	<select id="selectBoardCommentCount" resultType="int" parameterType="WhiteMap">	
		SELECT COUNT(1)	FROM ${board}_board_comment bc		
		WHERE bc.board_seq = #{boardSeq}
		<if test="delCheck == true">
		AND bc.comment != ''
		AND bc.user_seq != #{userSeq}
		</if>
	</select> 
		
	<!-- 게시판 상세화면 댓글 저장 -->
	<insert id="insertBoardComment" parameterType="WhiteMap">
		INSERT
		INTO ${board}_board_comment(board_seq, user_seq, comment, reg_date)
		VALUES(
			#{boardSeq},
			#{userSeq},
			#{comment},
			NOW()
		)
	</insert>
	
	<!-- 게시판 상세화면 댓글 삭제(수정) -->
	<update id="updateDelComment" parameterType="WhiteMap">
		UPDATE ${board}_board_comment
		SET	comment = ''
		WHERE user_seq = #{userSeq}
		AND board_seq = #{boardSeq}
		AND comment_seq = #{commentSeq}
	</update>
	
	<!-- 게시판 코멘트 삭제 -->
	<delete id="deleteComment" parameterType="WhiteMap">
		DELETE FROM ${board}_board_comment		
		WHERE board_seq = #{boardSeq}
	</delete>
	
	<!-- 게시판 저장 -->
	<insert id="insertBoard" parameterType="WhiteMap">
		INSERT
		INTO ${board}_board(user_seq, title, content, edit_date, reg_date)
		VALUES(
			#{userSeq},
			#{title},
			#{content},
			NOW(),
			NOW()
		)
	</insert>
	
	<!-- 게시판 수정 -->
	<update id="updateBoard" parameterType="WhiteMap">
		UPDATE ${board}_board
		SET	title = #{title},
			content = #{content},
			edit_date = NOW()
		WHERE user_seq = #{userSeq}
		AND board_seq = #{boardSeq}
	</update>
	
	<!-- 게시판 삭제 -->
	<delete id="deleteBoard" parameterType="WhiteMap">
		DELETE FROM ${board}_board
		WHERE user_seq = #{userSeq}
		AND board_seq = #{boardSeq}
	</delete>
</mapper>
