<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
	<property resource="common.properties"/>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss}][%logger{0}.%method] %msg %n</pattern>
		</encoder>
	</appender>
	<if condition='property("log.config.mode").equals("real")'>
		<then>
            <logger name="com.ljh.white" level="off"/>
			<logger name="jdbc.sqltiming" level="off"/>
        </then>
        <else>
           <logger name="com.ljh.white" level="debug"/>
			<logger name="jdbc.sqltiming" level="debug"/>
        </else>
		
	</if>
		
	<logger name="jdbc" level="off"/>  
	<logger name="jdbc.sqlonly" level="off"/>	
	<logger name="jdbc.audit" level="off"/>
	<logger name="jdbc.resultset" level="off"/>
	<logger name="jdbc.resultsettable" level="off"/>
	<logger name="jdbc.connection" level="error"/>  
	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>