<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="whiteMapper">
	
	<!-- 상위권한 리스트 조회 -->
	<select id="selectNavAuthList" resultType="WhiteMap">
		/*whiteMapper|selectNavAuthList*/
		SELECT
			nm.nav_url AS navUrl
			,an.auth_nm AS authNm
		FROM nav_menu nm
		LEFT OUTER JOIN auth_name an
		ON an.auth_nm_seq = nm.nav_auth_nm_seq
	</select>
	
	<!-- 하위권한 리스트 조회 -->
	<select id="selectSideAuthList" resultType="WhiteMap">
		/*whiteMapper|selectSideAuthList*/
		SELECT
	 		sm.side_url AS sideUrl
      		,an.auth_nm AS authNm
		FROM side_menu sm
    	LEFT OUTER JOIN auth_name an
    	ON an.auth_nm_seq = sm.side_auth_nm_seq	
	</select>
	
	<!-- 부모코드로 자식코드 리스트 조회 -->
	<select id="selectCodeList" resultType="WhiteMap" parameterType="WhiteMap">
		/*whiteMapper|selectCodeList*/
		SELECT
			code
			,code_nm AS codeNm
		FROM cmm_code 
		WHERE code_prt = #{codePrt}
	</select>
	
	<!-- 테이블 순번 전체 조회 -->
	<select id="selectSortTable" resultType="WhiteMap" parameterType="WhiteMap">
		/*whiteMapper|selectSortTable*/
		SELECT
			${firSeqNm} AS firSeq
			,${scdSeqNm} AS scdSeq
			,${colNm} AS col
		FROM ${tbNm} ORDER BY ${colNm} ASC
	</select>
	
	<!-- 테이블 순번 자동 정렬 저장 -->
	<update id="updateSortTable" parameterType="WhiteMap">
		/*whiteMapper|selectSortTable*/
		UPDATE ${tbNm}
		SET ${colNm} =
		CASE
		<foreach collection="list" item="item">
			WHEN ${firSeqNm} = #{item.firSeq} THEN #{item.col}
		</foreach>
		END
		WHERE ${firSeqNm} IN 
		<foreach collection="list" item="item" separator="," open="(" close=")">
			#{item.firSeq}
		</foreach>
		<if test="scdSeqNm == null and scdSeqNm == ''">
			AND ${scdSeqNm} IN
			<foreach collection="list" item="item" separator="," open="(" close=")">
				#{item.scdSeq}
			</foreach>
		</if>
	</update>
</mapper>
