<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="whiteMapper">
	
	<select id="selectNavAuthList" resultType="WhiteMap">
		SELECT		
	 		nm.nav_url AS navUrl,
      		an.auth_nm AS authNm	
		FROM nav_menu nm
    	LEFT OUTER JOIN auth_name an
    	ON an.auth_nm_seq = nm.nav_auth_nm_seq	
	</select>
	
	<select id="selectSideAuthList" resultType="WhiteMap">
		SELECT		
	 		sm.side_url AS sideUrl,
      		an.auth_nm AS authNm	
		FROM side_menu sm
    	LEFT OUTER JOIN auth_name an
    	ON an.auth_nm_seq = sm.side_auth_nm_seq	
	</select>
	
	<select id="selectCodeList" resultType="WhiteMap" parameterType="WhiteMap">
		SELECT 
			code_key AS codeKey,
			code_nm AS codeNm
		FROM code
		WHERE code_type = #{codeType}
	</select>
</mapper>
