<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="whiteMapper">
	
	<select id="selectSideMenuList" resultType="whiteMap" parameterType="whiteMap">		
		SELECT					
			sm.side_seq AS sideSeq,
			sm.nav_seq AS navSeq,
	  		sm.side_nm AS sideNm,
	 		sm.side_url AS sideUrl,
	 		sm.side_order AS sideOrder,
			sm.side_auth_nm_seq AS sideAuthNmSeq
			,IF(
				(
					SELECT a.auth_seq FROM authority a
					WHERE a.auth_nm_seq = sm.side_auth_nm_seq
					AND a.user_seq = #{userSeq}
					LIMIT 1
				) IS NULL, 0, 1
			) AS auth
		FROM side_menu sm
		WHERE sm.nav_seq = (SELECT nav_seq FROM nav_menu WHERE nav_url = #{navUrl})
		AND sm.side_show_yn = 'Y'
		ORDER BY sm.side_order
	</select>
	
	<select id="selectNavAuthList" resultType="WhiteMap">
		SELECT		
	 		nm.nav_url AS navUrl,
      		an.auth_nm AS authNm	
		FROM nav_menu nm
    	LEFT OUTER JOIN auth_name an
    	ON an.auth_nm_seq = nm.nav_auth_nm_seq	
	</select>
	
</mapper>
