.btn_azure01{  
	border-color:#5CD1E5; border-width:1px; border-style:solid; border-radius:5px;
    background-color:#FFFFFF; color:#24A6BD;
    cursor:pointer; font-size:5px;    
}
.btn_azure01:hover{   
	border-color:#5CD1E5; border-width:1px; border-style:solid; border-radius:5px;
    background-color:#24A6BD; color:#FFFFFF;
    cursor:pointer; font-size:5px; 
}

.btn_azure02{  
	border-color:#5CD1E5; border-width:1px; border-style:solid; border-radius:5px;
    background-color:#FFFFFF; color:#24A6BD;
    cursor:pointer; font-size:10px;    
}
.btn_azure02:hover{   
	border-color:#5CD1E5; border-width:1px; border-style:solid; border-radius:5px;
    background-color:#24A6BD; color:#FFFFFF;
    cursor:pointer; font-size:10px; 
}

.btn_azure03{  
	border-color:#5CD1E5; border-width:1px; border-style:solid; border-radius:5px;
    background-color:#FFFFFF; color:#24A6BD;
    cursor:pointer; font-size:15px;    
}
.btn_azure03:hover{   
	border-color:#5CD1E5; border-width:1px; border-style:solid; border-radius:5px;
    background-color:#24A6BD; color:#FFFFFF;
    cursor:pointer; font-size:15px; 
}

.btn_azure04{  
	border-color:#5CD1E5; border-width:1px; border-style:solid; border-radius:5px;
    background-color:#FFFFFF; color:#24A6BD;
    cursor:pointer; font-size:20px;    
}
.btn_azure04:hover{   
	border-color:#5CD1E5; border-width:1px; border-style:solid; border-radius:5px;
    background-color:#24A6BD; color:#FFFFFF;
    cursor:pointer; font-size:20px; 
}

.btn_azure05{  
	border-color:#5CD1E5; border-width:1px; border-style:solid; border-radius:5px;
    background-color:#FFFFFF; color:#24A6BD;
    cursor:pointer; font-size:25px;    
}
.btn_azure05:hover{   
	border-color:#5CD1E5; border-width:1px; border-style:solid; border-radius:5px;
    background-color:#24A6BD; color:#FFFFFF;
    cursor:pointer; font-size:25px; 
}

.btn_disabled01{   
	border-color:#BDBDBD; border-width:1px; border-style:solid; border-radius:5px;
    background-color:#D5D5D5; color:#FFFFFF;
    cursor:not-allowed; font-size:5px; 
}
.btn_disabled02{   
	border-color:#BDBDBD; border-width:1px; border-style:solid; border-radius:5px;
    background-color:#D5D5D5; color:#FFFFFF;
    cursor:not-allowed; font-size:10px; 
}
.btn_disabled03{   
	border-color:#BDBDBD; border-width:1px; border-style:solid; border-radius:5px;
    background-color:#D5D5D5; color:#FFFFFF;
    cursor:not-allowed; font-size:15px; 
}
.btn_disabled04{   
	border-color:#BDBDBD; border-width:1px; border-style:solid; border-radius:5px;
    background-color:#D5D5D5; color:#FFFFFF;
    cursor:not-allowed; font-size:20px; 
}
.btn_disabled05{   
	border-color:#BDBDBD; border-width:1px; border-style:solid; border-radius:5px;
    background-color:#D5D5D5; color:#FFFFFF;
    cursor:not-allowed; font-size:25px; 
}

