
span{font-size: 10px;}
table{font-size: 10px;}
td, th{height:38px; vertical-align: middle !important;}
input[type=text] {font-size: 10px;}

#navMenu ul {list-style:none; margin:0; padding:0;}
#navMenu li {margin: 0 15 0 0; padding: 0 0 0 0; border : 0; float: left;}
.article{padding-left: 20px; padding-right: 20px;}
.width-vmin{width:80vmin;}
.width-full{width:100%;}
.height-half{height: 50%;}

.space{width:100%; height:10px;}


/* font */
@font-face { font-family: 'GodoB'; src: url(../ttf/GodoB.ttf) format('truetype'); }
.GodoB-20{font-family: 'GodoB', serif;font-size: 20px;}
.GodoB-15{font-family: 'GodoB', serif;font-size: 15px;}
.GodoB-10{font-family: 'GodoB', serif;font-size: 10px;}

@font-face { font-family: 'NanumSquareB'; src: url(../ttf/NanumSquareB.ttf) format('truetype'); }
.NanumSquareRoundB-20{font-family: 'NanumSquareB', serif;font-size: 20px;}
.NanumSquareRoundB-15{font-family: 'NanumSquareB', serif;font-size: 15px;}
.NanumSquareRoundB-10{font-family: 'NanumSquareB', serif;font-size: 10px;}

@font-face { font-family: 'NanumSquareRoundB'; src: url(../ttf/NanumSquareRoundB.ttf) format('truetype'); }
.NanumSquareRoundB-20{font-family: 'NanumSquareRoundB', serif;font-size: 20px;}
.NanumSquareRoundB-15{font-family: 'NanumSquareRoundB', serif;font-size: 15px;}
.NanumSquareRoundB-10{font-family: 'NanumSquareRoundB', serif;font-size: 10px;}

.sideView{
	position: absolute;
}
.mainView{
	margin-left: 165px;
	
}

.redLine{
	text-decoration-line: line-through;
	color : red;
}

.add{
	color : green;
}

.edit{
	color : blue;
}

.header{	
	font-size: 12px;	
}
.header a{
	text-decoration: none;	
}

.left{float: left; margin-right: 5px; margin-bottom: 10px;}
.right{float: right; margin-right: 5px; margin-bottom: 10px;}

.font10{
	font-size: 10px;
}

.scroll{
    overflow-y: auto;
    height:500px;
}

tr:hover{
	background: #E6FFFF;
}

.paging > button{
	border-color:#5CD1E5; border-width:1px; border-style:solid; border-radius:5px;
    background-color:#FFFFFF; color:#24A6BD;
    cursor:pointer; font-size:15px;
    width: 30px;
}

.paging > button:hover{   
	border-color:#5CD1E5; border-width:1px; border-style:solid; border-radius:5px;
    background-color:#24A6BD; color:#FFFFFF;
    cursor:pointer; font-size:15px;
    width: 30px;
}

.divPop{
	display: none;
	position: absolute;
	background: white;
	width: 100%;
	height: 100%;
	z-index: 1;
}
