.sideView{
	position: absolute;
}
.mainView{
    position: absolute;
    left: 150px;
    top: 70px;
    float: left;
}

.sideMenu{
	
}
.sideMenu>ul>li>ol{
	display: none;
}

.redLine{
	text-decoration-line: line-through;
	color : red;
}

.edit{
	color : blue;
}

.header{	
	font-size: 12px;	
}
.header a{
	text-decoration: none;	
}

.left{
	float: left; margin-left: 5px;
}

.font10{
	font-size: 10px;
}

.scroll{
    overflow-y: auto;
    height:500px;
}

tr:hover{
	background: #E6FFFF;
}


