.sideView{
	position: absolute;
}
.mainView{
    position: absolute;
    left: 150px;
    top: 70px;
    float: left;
}

.sideMenu{
	
}
.sideMenu>ul>li>ol{
	display: none;
}

.cancleText{
	text-decoration-line: line-through;
	color : red;
}

.header{	
	font-size: 12px;	
}
.header a{
	text-decoration: none;	
}



