/* white.js */
.pg-btn{text-align: center;}
.pg-btn > a{padding: 3px 9px;margin: 0 1px 0 2px;cursor: default;text-decoration: none;border: 1px solid #FFFFFF;}
.pg-btn > a:hover{border: 1px solid #ECECEC;}
.pg-btn > a:active{background-color:#F6F6F6;}

/*td:hover{text-decoration: underline;}*/


/* .sourceView{
	padding: 3px 9px 3px 9px;
	border: 1px solid #ECECEC;
	display: none;
	height: auto;
	width: 100%;	
} */