<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="ledgerReMapper">
	<!-- 은행 조회 -->
	<select id="selectBankList" resultType="whiteMap" parameterType="Map">
		SELECT
		  user_bank_seq AS userBankSeq,
		  bank_name AS bankName,
		  bank_account AS bankAccount,
		  bank_now_use_yn AS bankNowUseYN
		FROM user_bank
		WHERE user_seq = #{userSeq}
		ORDER BY user_bank_seq ASC
	</select>

	<!-- 금전기록 리스트 조회  -->
	<select id="selectRecordList" resultType="whiteMap" parameterType="whiteMap">
		SELECT 
			rec.record_seq AS recordSeq,
			DATE_FORMAT(rec.record_date,'%Y-%m-%d %H:%i:%s') AS recordDate,
			rec.content,
			rec.pur_seq AS purSeq,
			rec.pur_dtl_seq AS purDtlSeq,
			rec.bank_seq AS bankSeq,
			rec.move_seq AS moveSeq,
			rec.money,
			pur.purpose	AS purpose,
			IFNULL(purDtl.pur_detail,'') AS purDetail,
			IFNULL(bank.bank_name, '현금')	AS bankName,
			IFNULL(bank.bank_account, 'cash')	AS bankAccount,
			IFNULL(bank.bank_now_use_yn,'X') AS bankNowUseYN
		FROM money_record_re rec
		LEFT OUTER JOIN purpose pur
			ON rec.pur_seq = pur.purpose_seq
		LEFT OUTER JOIN purpose_detail purDtl
			ON rec.pur_dtl_seq = purDtl.pur_detail_seq
		LEFT OUTER JOIN user_bank bank
    		ON rec.bank_seq = bank.user_bank_seq
		WHERE rec.user_seq = #{userSeq}
		<if test="startDate != '' and startDate != null">
		AND rec.record_date <![CDATA[ >= ]]> #{startDate}
		AND rec.record_date <![CDATA[ <  ]]> #{endDate}
		</if>	 	
		ORDER BY record_date ASC
		<!-- <if test="limit != '' and limit != null">
		Limit ${limit}
		</if> -->
		
	</select>
	
	<select id="selectCalPastRecord" resultType="whiteMap" parameterType="java.util.List">
		SELECT
		<foreach collection="list" item="item" separator=",">
			(
			  SELECT 
			    SUM( 
			      CASE
			      WHEN bank_seq = #{item.bankSeq} THEN money
			      WHEN move_seq = #{item.bankSeq} THEN ABS(money)
			      END
			    )
			  FROM money_record_re
			  WHERE user_seq = #{item.userSeq} 
			  AND record_date <![CDATA[ < ]]>  #{item.startDate}
			)AS ${item.bankName}	
		</foreach>
	</select>
	
</mapper>
