<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="memoMapper">
	
	<select id="selectMemoList" resultType="Map" parameterType="Map">
		SELECT 
			memo_seq AS memoSeq,
			memo_type AS memoType,
			memo_content AS memoContent,
			'select' AS state
		FROM memo
		WHERE user_seq = #{userSeq}
		AND memo_type = #{memoType}
	</select>
	
	<!-- 메모리스트 추가 -->
	<insert id="insertMemoList" parameterType="java.util.List">
		INSERT INTO memo(		
			user_seq,	
			memo_type,	
			memo_content,	
			reg_date
		)VALUES
		<foreach collection="list" item="item" separator=",">
			(#{item.userSeq}, #{item.memoType}, #{item.memoContent}, now())
		</foreach>	
	</insert>
	
	<!-- 메모리스트 수정 -->
	<update id="updateMemoList" parameterType="java.util.List">	
		UPDATE memo
		SET memo_content = 
		CASE		
		<foreach collection="list" item="item">
			WHEN memo_seq = #{item.memoSeq} THEN #{item.memoContent}
		</foreach>		
		END
		WHERE memo_seq IN 
		<foreach collection="list" item="item" separator="," open="(" close=")">
			#{item.memoSeq}
		</foreach>	
	</update>
	
	<!-- 메모리스트 삭제 -->
	<delete id="deleteMemoList" parameterType="java.util.List">
		DELETE FROM memo
		WHERE memo_seq IN 
		<foreach collection="list" item="item" separator="," open="(" close=")">
			#{item.memoSeq}
		</foreach>
	</delete>
</mapper>
