<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="fileMapper">

	<select id="selectPurMaxOrder" resultType="int" parameterType="int">
		/* selectPurMaxOrder */
		SELECT
			MAX(pur_order)+1 
		FROM purpose 
		WHERE user_seq = #{userSeq}
	</select>
	
	<insert id="insertBackupPurList" parameterType="PurposeBean" 
		useGeneratedKeys="true" keyProperty="purposeSeq" keyColumn="purpose_seq">
		/* insertBackupPurList */
		
		INSERT INTO purpose(			
			user_seq,
			pur_order,
			purpose
		)VALUES(
			#{userSeq},
			#{purOrder},
			#{purpose}
		)
	</insert>
	
</mapper>
