<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="mainMapper">
	
	<!--  userCheck -->
	<select id="selectUserPasswd" parameterType="WhiteMap" resultType="String">
		/* mainMapper|selectUserPasswd */
		SELECT					
			USER_PASS userPass
		FROM WHITE_USER		
		WHERE USER_ID = #{userId}				
	</select>		
	
	<!--  getUserAuthority -->
	<!-- <select id="getUserAuthority" resultType="Map" parameterType="String" >
		SELECT 
		    a.authority AS authority,
		    w.USER_SEQ AS userSeq
  		FROM 
		    authority a, 
		    white_user w
		WHERE 1=1
		AND a.authority_no = w.authority_no
		AND user_id = #{userId}			
	</select> -->
	
	<select id="getUserSeq" resultType="int" parameterType="String" >
		/* mainMapper|getUserSeq */
		SELECT 
	  		USER_SEQ AS userSeq
		FROM WHITE_USER
		WHERE USER_ID = #{userId}
	</select>
	
	<select id="userIdCheck" resultType="int" parameterType="String" >
		/* mainMapper|userIdCheck */
		SELECT COUNT(1)
		FROM white_user
		WHERE USER_ID = #{userId}
	</select>
		
	<select id="selectUserAuthority" resultType="WhiteMap" parameterType="int" >
		/* mainMapper|selectUserAuthority */
		SELECT 
		  A.AUTH_NM AS authNm,
		  IF(
				(
					SELECT PA.POS_AUTH_SEQ FROM POS_AUTH PA
					WHERE PA.AUTH_SEQ = A.AUTH_SEQ
					AND USER_SEQ = #{userSeq}
					LIMIT 1
				) IS NULL, 0, 1
		  ) AS auth
		FROM AUTH A
	</select>
	
	<select id="selectUpperMenuList" resultType="whiteMap" parameterType="whiteMap">
		/* mainMapper|selectUpperMenuList */
		SELECT					
			UM.UPPER_SEQ AS upperSeq,
	  		UM.UPPER_NM AS upperNm,
	 		UM.UPPER_URL AS upperUrl,
	 		UM.UPPER_ORDER AS upperOrder,
			UM.AUTH_SEQ AS authSeq
			<choose>
				<when test="userId == 'leedev'">
				,1 AS auth
				</when>
				<otherwise>
				,IF(
					(
						SELECT PA.POS_AUTH_SEQ FROM POS_AUTH PA
						WHERE PA.AUTH_SEQ = UM.AUTH_SEQ
						AND PA.USER_SEQ = #{userSeq}
						LIMIT 1
					) IS NULL, 0, 1
				) AS auth
				</otherwise>
			</choose>			
		FROM UPPER_MENU UM
		<if test="userId != 'leedev'">
			WHERE UM.SHOW_YN = 'Y'
		</if>		
		ORDER BY UM.UPPER_ORDER
	</select>
	
	<select id="selectLowerMenuList" resultType="whiteMap" parameterType="whiteMap">
		/* mainMapper|selectLowerMenuList */
		SELECT					
			LM.LOWER_SEQ AS lowerSeq,
			LM.UPPER_SEQ AS upperSeq,
	  		LM.LOWER_NM AS lowerNm,
	 		LM.LOWER_URL AS lowerUrl,
	 		LM.LOWER_ORDER AS lowerOrder,
			LM.AUTH_SEQ AS authSeq
			<choose>
				<when test="userId == 'leedev'">
				,1 AS auth
				</when>
					<otherwise>
					,IF(
						(
							SELECT PA.POS_AUTH_SEQ FROM POS_AUTH PA
							WHERE PA.AUTH_SEQ = LM.AUTH_SEQ
							AND PA.USER_SEQ = #{userSeq}
							LIMIT 1
						) IS NULL, 0, 1
					) AS auth
				</otherwise>
			</choose>	
		FROM LOWER_MENU LM
		<if test="userId != 'leedev'">
			WHERE LM.SHOW_YN = 'Y'
		</if>
		ORDER BY LM.LOWER_ORDER
	</select>
	
	<!-- 사용자 등록 -->
	<insert id="insertSignUp" parameterType="WhiteMap" useGeneratedKeys="true" keyProperty="USER_SEQ">
		/* mainMapper|insertSignUp */
		INSERT INTO WHITE_USER
			(USER_ID, USER_NM, USER_PASS)
		VALUES 
			(#{userId}, #{userNm}, #{passwd})
	</insert>
	
	<!-- 사용자 초기 권한 등록 -->
	<insert id="insertUserAuth" parameterType="String">
		/* mainMapper|insertUserAuth */
		INSERT INTO POS_AUTH
			(USER_SEQ, AUTH_SEQ)
		VALUES 
			(#{USER_SEQ}, (SELECT AUTH_SEQ FROM AUTH WHERE AUTH_NM = 'user'))
	</insert>
</mapper>
